#AddDefaultCharset UTF-8
#DirectoryIndex index.php index.html
#
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

#RewriteRule ^index.html$ / [S] ---
#RewriteRule . index.html ---

RewriteRule ^(.+)$ index.html?url=$1 [QSA,L]

Options +MultiViews

#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /
#RewriteRule ^index\.html$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.html [L]
#</IfModule>